<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94438648787-fhdgihevcuaubrigjv6h21gq15iajand.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94438648787-fhdgihevcuaubrigjv6h21gq15iajand</string>
	<key>API_KEY</key>
	<string>AIzaSyDfE0yYttdJJaVZnF6RBqFreVcbu2FgnFE</string>
	<key>GCM_SENDER_ID</key>
	<string>94438648787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jervygu.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-44966</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-44966.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94438648787:ios:0c72f2deeb3ae985d25d26</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-44966.firebaseio.com</string>
</dict>
</plist>